{% extends "base.twig" %}


{% block head %}

    <title>Add User &mdash; Slim</title>

    {{ parent() }}
{% endblock %}


{% block content %}


    <div class="main-content">
        <div class="row">
            <div class="col-12">
                <form class="card" method="post" action="secure/api/users">
                    <h4 class="card-title"><strong>New Account</strong></h4>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h5 class="text-light fw-400">Account Information</h5>
                                <br>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="text-fader">First name</label>
                                        <input class="form-control" type="text" name="firstName" id="firstName">
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label class="text-fader">Last name</label>
                                        <input class="form-control" type="text" name="lastName" id="lastName">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="text-fader">Email</label>
                                    <input class="form-control" type="email" name="email" id="email">
                                </div>

                                <br>
                                <h5 class="text-light fw-100">&nbsp;</h5>
                                <br>

                                <h5 class="text-light fw-400">Change Password</h5>
                                <br>

                                <div class="form-group">
                                    <label class="text-fader">New password</label>
                                    <input type="password" class="form-control" id="password" name="password"
                                            minlength="8" autocomplete="off" required >
                                </div>

                                <div class="form-group">
                                    <label class="text-fader">Confirm new password</label>
                                    <input type="password" class="form-control" id="password-conf"
                                           minlength="8" autocomplete="off" required >
                                </div>

                                <br>

                                <input type="hidden" name="{{csrf.keys.name}}" value="{{csrf.name}}">
                                <input type="hidden" name="{{csrf.keys.value}}" value="{{csrf.value}}">

                                <button class="btn btn-block btn-primary" id="save"
                                        type="submit" disabled>Save Changes</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>

        </div>
    </div>

    <script src="{{ base_path() }}/assets/js/admin/add-user.min.js"></script>

{% endblock %}
