{% extends "template.twig" %}

{% block head %}
    <title>List users | {{ app_name }}</title>
    {{ parent() }}
{% endblock %}


{% block content %}
    <div class="main-content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <h5 class="card-title"><strong>User list</strong></h5>

                    <div class="media-list media-list-hover media-list-divided scrollable" style="height: 345px">

                        {% for user in userList %}
                            <div class="media media-single">
                                <a href="#">
                                    <img class="avatar" src="../assets/img/avatar/1.jpg" alt="...">
                                </a>

                                <div class="media-body">
                                    <h6><a href="#">{{ user.firstName }} {{ user.lastName }} <span class="text-fader">#{{ user.id }}</span></a></h6>
                                    <small class="text-fader">{{ user.jobTitle }}</small>
                                </div>

                                <div class="media-right">
                                    <a class="btn btn-sm btn-bold btn-round btn-success w-100px"
                                       href="app/admin/user/{{ user.id }}">Edit</a>

                                    {%  if user.id != 1 %}
                                        <button class="btn btn-sm btn-bold btn-round btn-outline btn-danger w-100px"
                                           value="{{ user.id }}" id="delete-{{ user.id }}" >Delete</button>
                                    {%  endif %}
                                </div>
                            </div>
                        {% else %}
                            <div>
                                No users stored.
                            </div>
                        {% endfor %}

                    </div>

                </div>
            </div>

        </div>
    </div>

    <script src="{{ base_path() }}/assets/js/admin/list-users.min.js"></script>

{% endblock %}
